* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

header {
    display: flex;
    justify-content: center;
}

.top {
    background-image: url(img/donation8.jpg);
    width: 98vw;
    height: 70vh;
}

.top h1 {
    margin-top: 15vh;
    font-size: 8vh;
    text-align: center;
    color: #FF5959;
}


.top p {
    text-align: center;
    color:white;
    margin-bottom: 7vh;
}

.link{
    display: flex;
    justify-content: center;
}


.link a{
    text-decoration: none;
    color: white;
    padding: 2vh;
    background-color: #FF5959;
    border-radius: 5px;
}

.middletop {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 5vh;
}

.info {
    display: flex;
    justify-content: center;
}

.donatemoney {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 5px;
    color: 707070;
    font-weight: 400;
    font-size: 4vh;
    margin: 1vw;
    padding: 2vw;
}

#D200tk {
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
    border-radius: 5px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.input input{
    width: 40vw;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}