*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    margin-left: 6vw;
}

.container{
    background-image: url(img/donation8.jpg);
    background-repeat: no-repeat;
    width: 98vw;
    height: 70vh;
}

.container h1{
    margin-top: 15vh;
    /* margin-bottom: 12vh; */
    font-size: 8vh;
    text-align: center;
    color: red;
    font-family: 'Merriweather', serif;
}

.container p{
    text-align: center;
    color: white;
    margin-bottom: 7vh;
}

.link{
    text-decoration: none;
    color: white;
    padding: 2vw;
    background-color: red;
    border-radius: 5px;
    margin: 42vw;
}