* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

header {
    display: flex;
    justify-content: center;
}

.top {
    background-image: url(img/donation8.jpg);
    width: 98vw;
    height: 70vh;
}

.top h1 {
    margin-top: 15vh;
    font-size: 8vh;
    text-align: center;
    color: #FF5959;
}


.top p {
    text-align: center;
    color: white;
    margin-bottom: 7vh;
}

.link {
    display: flex;
    justify-content: center;
}

#link2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 3vh;
}


.link a {
    text-decoration: none;
    color: white;
    padding: 2vh;
    background-color: #FF5959;
    border-radius: 5px;
}

.middletop {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 5vh;
    padding: 5vw;
}

.info {
    display: flex;
    justify-content: center;
}

.donatemoney {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 5px;
    color: 707070;
    font-weight: 400;
    font-size: 4vh;
    margin: 1vw;
    padding: 2vw;
}

#D200tk {
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
    border-radius: 5px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.input input {
    width: 40vw;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 15vh;
}

.box {
    width: 40vw;
    height: 30vh;
    margin: 2vw;
    padding: 2vw;
    font-size: 2vh;
    text-align: justify;
    border-radius: 5px;
    padding-top: 5vh;
}

.box h4 {
    margin-top: 5vh;
}

.box p {
    margin-top: 5vh;
}

#box1 {
    background-color: #4f9da642;
}

#box2 {
    background-color: hsla(0, 100%, 67%, 0.329);
}

#box3 {
    background-color: bisque;
}

.contribute {
    display: flex;
    justify-content: center;
    margin: 7vh 4vh;
}

.contribute h1 {
    margin-bottom: 5vh;
}

.contribute img {
    width: 40vw;
    padding: 2vw;
}

.contribute-arebox {
    padding: 10vw;
}

.mailcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}

.Email input {
    height: 6vh;
}

.Email {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 40vw;
    height: 30vh;
}

.Email a {
    text-decoration: none;
    color: white;
    padding: 2vh;
    background-color: #FF5959;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 20vh;
    font-family: 'Lobster', cursive;
    text-align: center;
}

#footerh {
    font-size: 3vh;
    color: #FF5959;
}