/* common styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

section {
    margin-top: 50px;
}

/* Top banner Styles */
.Top-Banner {
    background-color: #161616;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 100%;
    height: 646px;
}

.Top-info {
    width: 50%;
    color: #FFFFFF;
}

.Top-info h1 {
    font-weight: 700;
    font-size: 70px;
}

.Top-info p {
    font-weight: 400;
    font-size: 16px;
}

.Top-info a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    background-color: #DD0000;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
}

.img-container {
    margin-top: 33px;

}

.img-container img {
    width: 581px;
    height: 613px;
}

/* blog section design */

.blog-section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.menu {
    background-color: #161616;
    width: 312px;
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: sticky;
    top: 0;
}

.option {
    background: #FFFFFF;
    width: 252px;
    height: 64px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: #161616;
    border-radius: 10px;
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 312px;
    height: 362px;
}

.duration {
    display: flex;
    justify-content: space-between;
}

.duration div {
    display: flex;
    align-items: center;
}

/* footer styles */

footer {
    width: 100%;
    height: 444px;
    background-color: #161616;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
}

.policy{
    display: flex;
    font-size: 16px;
}

.policy div{
    margin: 40px;
}