/* common styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

section {
    margin-top: 50px;
}

/* Top banner Styles */
.Top-Banner {
    background-color: #161616;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 100%;
    height: 646px;
}

.Top-info {
    width: 50%;
    color: #FFFFFF;
}

.Top-info h1 {
    font-weight: 700;
    font-size: 70px;
}

.Top-info p {
    font-weight: 400;
    font-size: 16px;
}

.Top-info a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    background-color: #DD0000;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
}

.img-container {
    margin-top: 33px;

}

.img-container img {
    width: 581px;
    height: 613px;
}

/* blog section design */

.container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.menu {
    background-color: #161616;
    width: 312px;
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: sticky;
    top: 0;
}

.option {
    background: #FFFFFF;
    width: 252px;
    height: 64px;
    margin: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: #161616;
    border-radius: 10px;
}

.selected {
    background-color: #DD0000;
    color: #FFFFFF;
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 312px;
    height: 362px;
}

.duration {
    display: flex;
    justify-content: space-between;
}

.duration div {
    display: flex;
    align-items: center;
}

.viewallOption {
    display: none;
}

/* footer styles */

footer {
    width: 100%;
    height: 444px;
    background-color: #161616;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
}

.policy {
    display: flex;
    font-size: 16px;
}

.box1,
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 div,
.box2 div {
    margin: 40px;
}

/* responsive styles */
/* for mobile devices */

@media screen and (max-width: 688px) {

    .Top-Banner {
        height: 530px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Top-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Top-info h1 {
        font-weight: 700;
        font-size: 22px;
    }

    .Top-info p {
        height: 45px;
        overflow: hidden;
        font-weight: 400;
        font-size: 14px;
    }

    .img-container img {
        width: 233px;
        height: 245px;
    }

    .container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu {
        background-color: #FFFFFF;
        justify-content: center;
        align-items: center;
        width: 235px;
        height: 180px;
        position: relative;
    }

    .option {
        border: 1px solid #E8E8E8;
        font-size: 18px;
        width: 210px;
        height: 48px;
    }

    .blog-content {
        grid-template-columns: repeat(1, 1fr);
        height: 2306px;
        overflow: hidden;
    }

    footer {
        width: 100%;
        height: 412px;
    }

    footer p {
        font-weight: 600;
        font-size: 22px;
    }

    .policy {
        flex-direction: column;
        font-weight: 400;
        font-size: 14px;
    }

    .box1,
    .box2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .box1 div,
    .box2 div {
        margin: 10px;
    }
}


/* for tablets */
@media screen and (min-width: 689px) and (max-width: 1300px) {


    .Top-Banner {
        height: 398px;
    }

    .Top-info h1 {
        font-weight: 700;
        font-size: 40px;
        margin: 5px;
    }

    .img-container img {
        width: 323px;
        height: 340px;
    }

    .container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu {
        background-color: #FFFFFF;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 130px;
    }


    .option {
        border: 1px solid #E8E8E8;
        font-size: 18px;
    }

    .blog-content {
        grid-template-columns: repeat(2, 1fr);
        height: 1160px;
        overflow: hidden;
    }

    .viewallOption {
        display: block;
    }

    footer {
        height: 345px;
    }

    .policy {
        flex-direction: column;
    }
}