@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background: black;
    font-family: 'Lato', sans-serif;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0 5vw;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    height: 5vh;
    align-items: center;
}

footer{
    height: 5vh;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}
