@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

:root {
    --main-bg-color: #2874f0;
}


* {
    margin: 0;
    padding: 0;
}

header {
    background: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

nav ul li {
    list-style: none;
    padding: 0 1vw;
}


nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a :hover {
    font-weight: bolder
}


nav {
    display: flex;
    height: 7vh;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 12vh;
    padding: 0 3vw;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 24vw;
    border-radius: 2px;
    margin: 0 1vw 0 5vw;
    padding: 0 2vw;
}

.search button {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}

.container {
    min-height: calc(100vh - 7vh - 5vh);
}

footer {
    height: 5vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}