:root {
    --main-bg-color: rgb(255, 250, 244);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: white;
}

h1 {
    font-size: 50px;
}


.orange {
    color: orange;
}


.section-flex {
    display: flex;
    background-color: var(--main-bg-color);
    margin-bottom: 5vh;
}

.half-width {
    width: 49%;
    padding: 5%;
}

.half-width img {
    width: 60%;
}

.center {
    text-align: justify;
}

.link-button {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(orange, red);
    font-weight: 400;
    padding: 2vh;
    border-radius: 2px;
}

.experience {
    background-color: var(--main-bg-color);
}

.experience-item {
    box-shadow: 15px 15px 40px black;
    margin: 0 5vw;
    padding: 0 5vw;
}

#fullStack {
    border-left: 7px solid orange;
}

#babyDeveloper {

    border-left: 7px solid blue;
}

footer p{
    text-align: center;
}